/**
pick from Camera styles
**/

.snapButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  appearance: none;
  border: none;
  outline: none;
  padding: 8px 16px;
  background-image: linear-gradient(to right, #844fff 50%, #ff4f84 50%);
  background-position: 0;
  background-size: 200%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  z-index: 2;
}

.useButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  appearance: none;
  border: none;
  outline: none;
  padding: 8px 16px;
  background-image: linear-gradient(to right, #844fff 50%, #ff4f84 50%);
  background-position: 0;
  background-size: 200%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  z-index: 2;
}

.useButton:hover {
  background-position: 100%;
}

.snapButton:hover {
  background-position: 100%;
}

.wrapper {
  text-align: center;
}

.hidden {
  display: none;
}

.controlPanel {
  padding-right: 16px;
  margin: 16px 0;
}

.controlPanel label {
  white-space: nowrap;
}

.controlPanelItem {
  padding: 12px;
  margin-right: 22px;
}

.snap {
  border: 2px solid red;
  border-radius: 14px;
  background: orangered;
  color: white;
  cursor: pointer;
}

.preview {
  width: 100%;
}

.preview video, .preview canvas {
  padding: 12px;
}

.photo {
  display: inline-block;
}