.container {
    height: 100%;
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (min-width: 1536px) {
    .container {
        height: 100vh;
    }
  }

/* User infos on the left side*/
.container > *:nth-child(1) {
    height: 98.4%;
    flex: 1 1 15%;
    min-width: 340px; 
}

/* Meme sliders on the right side */
.container > *:nth-child(2) {
    height: 100%;
    flex: 1 1 75%;
    min-width: 42ch;
    width: 100%;
}

/* 2 sliders under each other */
.verticalBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    background-color:whitesmoke;
    margin: 8px;
    border-radius: 15px;
    height: 100%;
    width: 100%; /* Don't delete - it's a parent of other elements that need a set width */
    display: flex;
    flex-direction: column;
}
.card h3 {  
    font-size: 1.6em;
}
.card a {
    padding: 10px 0px;
    display: block;
    text-align: center;
    color: black;
}

/* Headline of card */
.firstRow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Text */
.firstRow > *:nth-child(1) {
    flex: 1 1; 
    margin-left: 20px; 
}
/* Share buttons */
.firstRow > *:nth-child(2) {
    flex: 1 1; 
    margin-right: 20px;
}

/* User infos on the left side */
.imageArea {
    background-color: #343434;
    height: 150px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    position: relative;
}

/* User infos on the left side */
.avatar {
    background-image: url(Wolves.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -40%);
}

/* User infos on the left side */
.cameraButton{
    background-image: url(camera.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 80%;
    right: 10px;
}

/*---- Button ------------------------------------------*/

.button {
    background-color: #666666;
    min-width: 100px;
    width: 30%;
    line-height: 1.5rem;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 4px 8px;
    margin: 20px auto;
    border-radius: 5px;
    outline: 0;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 2px 2px grey;
    transition: ease background-color 250ms;
}
.button:hover {
    background-color: #454545;
}



