.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.popupInner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    width: 60%;
    background-color: white;
    border-radius: 30px;
    height: 50%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
    min-height: 300px;
    min-width: 500px;
}

/*--- 'Copy link' text ---*/
.popupInner > *:nth-child(2){
    font-size: 1.7em;
    margin: 10px;
}

/*--- 'Or share directly' text ---*/
.popupInner > *:nth-child(4){
    font-size: 1.7em;
    margin: 30px 10px 10px 10px;
}

.closeButton {
    position: absolute;
    width: 0;
    height: 0;
    top: 18px;
    left: calc(100% - 36px);
    cursor: pointer;
}

.closeButton::after {
    content: "";
    width: 4px;
    height: 26px;
    position: absolute;
    background-color: black;
    transform: translateX(11px) rotate(45deg);
    top: 0;
    left: 100%;
}

.closeButton::before {
    content: "";
    width: 26px;
    height: 4px;
    position: absolute;
    background-color: black;
    transform: translateY(11px) rotate(45deg);
    top: 0;
    left: 100%;
}

.closeButton:hover::before, .closeButton:hover::after {
    background-color: rgba(47, 160, 210, 1);
    transition: background-color ease-in-out .1s;
}

.copyButton {
    margin: 0;
    color: #12b2e3;
    background-color: #b2dfed;
    width: auto;
}

.shareLink {
    margin: 0;
    color: #828282;
    background-color: #f2f2f2;;
    width: auto;
    cursor: pointer;
    padding: 22px;
    font-size: 1em;
}

.flexBoxShare {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}