.container {
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 2px;
    transition: ease transform 200ms;
}

.icon:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    transition: ease transform 200ms;
}