.slider {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px;
    height: 100%;
    width: 100%;
    
}
.emptySlider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.emptySlider > *:nth-child(1) {
    font-family: 'Comic Sans MS';
    font-size: 2em;
    font-weight: bold;
    color: #3190A4;
}

/*--- Vertical inner container with share buttons, images and dots ---*/
.sliderInner {
    position: relative;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    flex-direction: column;   
    width: 100%;
    height: 100%; 
}

/*--- Horizontal container with alle memes (one slide for each image) ---*/
.slides {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    margin-top: 15px; /* To make a gab between memes and dots */
}

.slide { /* currently not in use */
    opacity: 0;
    transition-duration: 0.5s ease;
    position: absolute; 
    margin: 0px 10px; 
    height: 100%; 
}
.slideActive {
    opacity: 1;
    transition-duration: 0.5s;
    margin: 0px 10px; 
    height: 100%; 
}

/*--- Image container for one single image ---*/
.image {
    height: 210px;
    position: relative; /* Important for positioning of the trash icon */
}
.image:hover .trashIcon {
    opacity: 1;
}
.image:after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity: 0.7;
}

/*--- Trash icon to delete meme ---*/
.trashIcon {
    background-image: url(trash_white.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0; right: 0;
    margin: 0 10px 10px 0;
    opacity: 0;
    z-index: 5;
}

/*--- Images of memes - different classes for different screensizes ---*/
.imageSmall {
    height: 210px; /* without fix height pictures and arrows of the slider jump up and down */
    background-size: cover;
    border-radius: 5px;
}
.imageMedium {
    height: 160px;
    background-size: cover;
    border-radius: 5px; 
}
.imageLarge {
    height: 100%;
    background-size: cover;
    border-radius: 5px;
    position: relative; /* important for black overlay */
}



/*--- Image in the middle with border ---*/
.imageMiddleMedium {
    height: 180px;
    background-size: cover;
    border-radius: 5px;
    outline-style: solid;
    outline-width: 6px;
    outline-color: #565656;
    margin-bottom: 40px;
}
.imageMiddleLarge {
    height: 230px;
    background-size: cover;
    border-radius: 5px;
    outline-style: solid;
    outline-width: 6px;
    outline-color: #565656;
    margin-bottom: 40px;
}

/*--- Arrows ---*/

.rightArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 2.6rem;
    color: #343434;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 2.6rem;
    color: #343434;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

/*--- Slider button for empty sliders ---*/

.sliderButton {
    background-color: #666666;
    width: 100px;
    line-height: 1rem;
    overflow: hidden;
    padding: 1px 2px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px grey;
    transition: ease background-color 250ms;
}
.sliderButton:hover {
    background-color: #454545;
}
.sliderButton > a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
}
.sliderButton > a:hover {
    color: rgb(235, 235, 235);
}

/*--- Dots under memes ---*/
.containerDots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
.dot {
width: 15px;
height: 15px;
border-radius: 50%;
border: 3px solid #343434;
margin: 0 5px;
background: #343434;
}
.dotActive {
width: 15px;
height: 15px;
border-radius: 50%;
border: 3px solid #343434;
margin: 0 5px;
background: whitesmoke;
}



