.slider {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
}
.emptySlider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.emptySlider > *:nth-child(1) {
    font-family: 'Impact';
    font-size: 2em;
    font-weight: bold;
    color: #3190A4;
}

/*--- Vertical inner container with share buttons images ---*/
.verticalContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;   
    width: 100%;
    height: 100%;
}

/*--- Horizontal container with alle memes (one slide for each image) ---*/
.horizontalContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
}

.image {
    height: 270px;
    position: relative; /* Important for positioning the trash icon */
    margin: 5px 10px 20px 10px; 
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 120, 144, 0.6);
    
    /* transition: ease transform 200ms; */
}
.image:hover{
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    transition: ease transform 200ms;
  }
.image:hover .trashIcon {
    opacity: 1;
}
.image:hover .editIcon {
    opacity: 1;
}

/* CanvasMeme component */
.image > *:nth-child(1) {
    height: 100%;
}
/* Dark overlay */
.image:after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity: 0.8;
}


.bigPicture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; height: 600px;
    z-index: 15;
} 

.darkOverlay{
    content: '';
    position: absolute;
    top:0; left:0;
    width: 100vw; height: 100vh;
    background:rgba(0,0,0,0.6);
    z-index: 10;
}


/*--- Trash icon to delete meme ---*/
.trashIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    color: whitesmoke;
    bottom: 0; right: 0;
    margin: 0 10px 10px 0;
    opacity: 0;
    z-index: 20;
}

/*--- Edit icon to edit a meme ---*/
.editIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    color: whitesmoke;
    bottom: 0; left: 0;
    margin: 0 0 10px 10px;
    opacity: 0;
    z-index: 20;
}

/*--- Arrows ---*/
.rightArrow {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2.6rem;
    color: #343434;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    transition: ease transform 200ms;
}
.rightArrow:hover{
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    transition: ease transform 200ms;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2.6rem;
    color: #343434;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    transition: ease transform 200ms;
}
.leftArrow:hover{
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    transition: ease transform 200ms;
}

/*--- Slider button in empty slider ---*/
.sliderButton {
    background-color: #666666;
    width: 100px;
    line-height: 1.7rem;
    overflow: hidden;
    padding: 1px 2px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px grey;
    transition: ease background-color 250ms;
}
.sliderButton:hover {
    background-color: #454545;
}
.sliderButton > a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
}
.sliderButton > a:hover {
    color: rgb(235, 235, 235);
}

/*--- Dots under memes ---*/
.containerDots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
.dot {
width: 15px;
height: 15px;
border-radius: 50%;
border: 3px solid #343434;
margin: 0 5px;
background: #343434;
}
.dotActive {
width: 15px;
height: 15px;
border-radius: 50%;
border: 3px solid #343434;
margin: 0 5px;
background: whitesmoke;
}



