/*button {*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    width: 200px;*/
/*    padding: 10px;*/
/*    margin: 20px auto 15px;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*}*/

.editorContainer {
    justify-content: center;
    width: 150vh;
    background-color: whitesmoke;
    margin: 8px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.outerContainer {
    display: flex;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
}

.meme {
    max-width: 300px;
    max-height: 300px;
    margin: 10px auto auto;
    display: flex;
    box-shadow: 0 0 10px black;
}

input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 350px;
    margin: 20px 20px 15px;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 5px black;
}

canvas {
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
}

.buttonContainer {
    background-color: lightgray;
}

.templates {
    display: flex;
}

.skip {
    background-color: #d2f04e;
}

.generate {
    background-color: #8a40eb;
}

.use {
    background-color: #40eb4e;
}

.upload {
    background-color: #8a40eb;
}

.editorTools {
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    top: 52px;
    height: 48px;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid black;
    min-width: 400px;
}

.tool {
    margin-top: 8px;
    margin-left: 42px;
    opacity: 75%;
    cursor: pointer;
}

.editorTools a img:hover {
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    opacity: 0;
    width: 124px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s ease-in;
}

.dropDown {
    width: 278px;
    background-color: #cccccc;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 115%;
    right: 50%;
}

.dropDown ul {
    list-style-type: none;
    position: absolute;
}

.dropDownItem {
    width: 100%;
    background-color: cornflowerblue;
    z-index: 99;
    white-space: nowrap;
}

.dropDownItem:hover {
    background-color: #8a40eb;
}
