.outerContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.editorContainer {
    justify-content: center;
    width: 94vw;
    background-color: whitesmoke;
    margin: 8px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.canvas {
    border: 2px solid black;
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

.splitView {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.splitLeft {
    width: 50%;
    height: 100%;
    float: left;
}

.splitRight {
    width: 50%;
    height: 100%;
    float: right;
}

.memeTools {
    display: inline-block;
}

.memeTools input {
    float: left;
}

@media screen and (max-width: 900px) {
    .splitView {
        width: 100%;
        height: 100%;
    }

    .splitLeft {
        float: none;
        width: 100%;
        height: auto;
    }

    .splitRight {
        float: none;
        width: 100%;
        height: auto;
    }
}
