.container {
    margin: 30px 80px 20px 80px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.icons {
    box-shadow: none;
    width: 30px;
    height: 30px;
    margin: 0;
    cursor: pointer;
    display: flex;
}

.sorticon {
    box-shadow: none;
    width: 30px;
    height: 30px;
    margin: 0;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}